$fontFamily: "Poppins";

$colorBackground: #ecf0f3;
$colorDarkest: black;
$colorDarker: #686868;
$colorDark: #707070;
$colorPrimary: dodgerblue;
$colorLightest: white;
$colorLighter: #dedede;
$colorLight: #c1c1c1;

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  letter-spacing: 1.2px;
}

body {
  background-color: $colorBackground;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  display: block;
  margin: 4rem auto;
  max-width: 1080px;
}

canvas {
  background-color: #ecf0f3;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

// Typography

h1 {
  font-size: 3.2rem;
  color: $colorDarker;
}

h2 {
  font-size: 2.4rem;
  color: $colorDarker;
}

h3 {
  font-size: 1.5rem;
  color: $colorDarkest;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  color: $colorDark;
}

.text-lighter {
  color: $colorDark;
}

// Links

a {
  color: $colorDark;
  text-decoration: none;
  font-weight: bold;
}

.link-primary {
  color: $colorPrimary;
}

// Buttons

button {
  border: none;
  box-shadow: inset -10px -10px 30px 0 #fff, inset 10px 10px 30px 0 #acbdd8;
  padding: 0.4rem 1.2rem;
  border-radius: 12px;
  cursor: pointer;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.btn-primary {
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #acbdd8;
  padding: 1.8rem 2.2rem;
}

// Navbar

nav {
  width: 100%;
  padding: 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorLight;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.2rem;
}

// Create New Plot Page

.create-new-plot {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .grid-plot {
    margin-top: 6rem;
  }

  .chart-type {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
  }

  .chart-logo {
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #acbdd8;
    padding: 4rem;
    border-radius: 12px;
  }
}

.footer-text {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}

// Grids

.grid {
  display: grid;
}

.grid-1x4 {
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 6rem;
}

// Plots

.plots-container {
  max-width: 900px;
}

.plots-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.plots {
  min-height: 300px;
  margin-top: 4rem;
  box-shadow: inset -10px -10px 30px 0 #fff, inset 10px 10px 30px 0 #acbdd8;
  border-radius: 12px;
  padding: 4rem;
}

.plots-table {
  width: 100%;
  font-size: 1.6rem;
  color: $colorDark;
}

td {
  min-width: 60px;
  padding: 1.4rem 1rem;
  border-right: 1px solid $colorLight;
}

td:last-child {
  border: none;
}

.plots-footer {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

// Sidebars
.plot-container {
  display: grid;
  grid-template: 1fr / 1fr 320px;
}

aside {
  width: 100%;
  border-left: 1px solid $colorLight;
  padding: 1rem 1.4rem;
}

.aside-heading {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.plot-setting {
  margin: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.color {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
}

// Inputs

input {
  outline: none;
  border: none;
}

.input-chart {
  outline: none;
  border: none;
  box-shadow: inset -10px -10px 30px 0 #fff, inset 10px 10px 30px 0 #acbdd8;
  max-width: 60px;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
}
