$fontFamily: "Poppins";

$colorBackground: #fff;
$colorDark: #707070;
$colorDarker: #252525;
$colorDarkest: black;
$colorLight: #c1c1c1;
$colorLighter: #dedede;
$colorLightest: white;
$colorPrimary: dodgerblue;

// Mixins

@mixin flex($jc: center, $ai: center, $fd: row) {
  align-items: $ai;
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
}

// Main
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorBackground;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: 4rem auto;
  max-width: 1080px;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

// Typography

h1 {
  color: $colorDarker;
  font-size: 3.2rem;
}

h2 {
  color: $colorDarker;
  font-size: 2.4rem;
}

h3 {
  color: $colorDarkest;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  color: $colorDark;
  font-size: 1.2rem;
}

.text-lighter {
  color: $colorDark;
}

// Links

a {
  color: $colorDark;
  font-weight: bold;
  text-decoration: none;
}

.link-primary {
  color: $colorPrimary;
}

// Buttons

button,
.btn {
  background-color: $colorDarker;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem 1.2rem;
}

.btn-flex {
  @include flex(center, center);
  gap: 0.6rem;
}

.btn-primary {
  padding: 1.8rem 2.2rem;
}

.btn-dark {
  background-color: $colorDarkest;
  border-radius: 5px;
  color: white;
  padding: 0.8rem 2rem;
}

.btn-clickable {
  background-color: transparent;
  color: $colorDark;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0;
  text-align: left;
}

.btn-icon {
  @include flex(center, center);

  background-color: transparent;
  border-radius: 50%;
  color: black;
  padding: 1rem;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

// Navbar

nav {
  @include flex(space-between, center);

  width: 100%;
  padding: 1.2rem 1.4rem;
  border-bottom: 1px solid $colorLight;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.2rem;
}

// Create New Plot Page

.create-new-plot {
  @include flex(center, center, column);
  text-align: center;

  .grid-plot {
    margin-top: 6rem;
  }

  .chart-type {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .chart-logo {
    border-radius: 12px;
    border: 1px solid $colorLight;
    padding: 4rem;
  }
}

.footer-text {
  bottom: 4rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

// Grids

.grid {
  display: grid;
}

.grid-1x4 {
  gap: 6rem;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

// Plots

.plots-container {
  max-width: 900px;
}

.plots-header {
  @include flex(flex-start, center);
  gap: 2rem;
}

.plots {
  min-height: 300px;
  margin-top: 4rem;
  border-radius: 12px;
}

.plots-table {
  border-collapse: collapse;
  color: $colorDark;
  font-size: 1.4rem;
  width: 100%;
}

td {
  border-bottom: 1px solid $colorLight;
  min-width: 60px;
  padding: 1.8rem 1rem;
}

.cell-icons {
  @include flex(center, center);
  gap: 2rem;
}

.plots-footer {
  @include flex(center, center, column);

  gap: 6rem;
  margin-top: 8rem;
}

// Sidebars
.plot-container {
  display: grid;
  grid-template: 1fr / 1fr 320px;
  position: relative;
}

.return {
  left: 2rem;
  position: absolute;
  top: 2rem;
  z-index: 1;
}

aside {
  border-left: 1px solid $colorLight;
  padding: 1rem 1.4rem;
  width: 100%;
}

.aside-heading {
  margin-bottom: 1.8rem;
  margin-top: 2rem;
}

.plot-setting {
  @include flex(space-between, center);
  margin: 1.8rem 0;
}

.icon-text-container {
  @include flex(flex-start, center);
  gap: 1.2rem;
}

.color {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
}

// Inputs

input {
  border: none;
  outline: none;
}

.input-chart {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border: none;
  max-width: 100px;
  padding: 0.3rem 1.2rem;
}

.input-container {
  margin: 1.8rem 0;
}

.input-primary {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $colorLight;
  display: block;
  max-width: 320px;
  padding: 0.8rem 2rem;
  width: 100%;
}

.input-error {
  color: rgb(215, 21, 21);
  margin-top: 1rem;
}

.input-max {
  max-width: 100%;
  width: 100%;
}

.color-input {
  @include flex(flex-start, center);

  border-radius: 5px;
  border: 1px solid $colorLight;
  max-width: 320px;

  input {
    border-left: 1px solid $colorLight;
    border-radius: 0;
    border: none;
    margin: 0;
  }
}

.color-container {
  height: 12px;
  margin: (38px - 12px) / 2 1.4rem;
  width: 12px;

  .color {
    background-color: black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }
}

// Forms

form {
  display: block;
  margin: 4rem auto;
  max-width: 800px;
}

.form-header {
  @include flex(space-between, center);
}

.form-heading {
  @include flex(flex-start center);
  gap: 1.4rem;
}

.form-content {
  margin: 3.6rem 0 4.8rem;
}

.heading-optional::after {
  content: "(Optional)";

  color: rgb(234, 63, 63);
  font-size: 0.8rem;
  font-weight: 100;
  left: 10px;
  position: relative;
}

.vertices-data {
  margin: 4rem 0 6rem;
}

// Not Found

.not-found {
  margin: 8rem auto;
  text-align: center;

  h1 {
    margin-bottom: 2.8rem;
  }

  a {
    font-size: 1.4rem;
  }
}
