$fontFamily: "Poppins";

$colorBackground: #fff;
$colorDarkest: black;
$colorDarker: #252525;
$colorDark: #707070;
$colorPrimary: dodgerblue;
$colorLightest: white;
$colorLighter: #dedede;
$colorLight: #c1c1c1;

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

body {
  background-color: $colorBackground;
  box-sizing: border-box;
  // overflow: hidden;
}

.container {
  width: 100%;
  display: block;
  margin: 4rem auto;
  max-width: 1080px;
}

canvas {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

// Typography

h1 {
  font-size: 3.2rem;
  color: $colorDarker;
}

h2 {
  font-size: 2.4rem;
  color: $colorDarker;
}

h3 {
  font-size: 1.5rem;
  color: $colorDarkest;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  color: $colorDark;
}

.text-lighter {
  color: $colorDark;
}

// Links

a {
  color: $colorDark;
  text-decoration: none;
  font-weight: bold;
}

.link-primary {
  color: $colorPrimary;
}

// Buttons

button,
.btn {
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: $colorDarker;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.btn-primary {
  padding: 1.8rem 2.2rem;
}

.btn-dark {
  background-color: $colorDarkest;
  border-radius: 5px;
  color: white;
  padding: 0.8rem 2rem;
}

.btn-clickable {
  background-color: transparent;
  color: $colorDark;
  text-align: left;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0;
}

.btn-icon {
  background-color: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

// Navbar

nav {
  width: 100%;
  padding: 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorLight;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.2rem;
}

// Create New Plot Page

.create-new-plot {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .grid-plot {
    margin-top: 6rem;
  }

  .chart-type {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
  }

  .chart-logo {
    border: 1px solid $colorLight;
    padding: 4rem;
    border-radius: 12px;
  }
}

.footer-text {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}

// Grids

.grid {
  display: grid;
}

.grid-1x4 {
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 6rem;
}

// Plots

.plots-container {
  max-width: 900px;
}

.plots-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.plots {
  min-height: 300px;
  margin-top: 4rem;
  border-radius: 12px;
}

.plots-table {
  width: 100%;
  font-size: 1.4rem;
  color: $colorDark;
  border-collapse: collapse;
}

td {
  min-width: 60px;
  padding: 1.8rem 1rem;
  border-bottom: 1px solid $colorLight;
}

.cell-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.plots-footer {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

// Sidebars
.plot-container {
  display: grid;
  grid-template: 1fr / 1fr 320px;
}

aside {
  width: 100%;
  border-left: 1px solid $colorLight;
  padding: 1rem 1.4rem;
}

.aside-heading {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.plot-setting {
  margin: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.color {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
}

// Inputs

input {
  outline: none;
  border: none;
}

.input-chart {
  outline: none;
  border: none;
  max-width: 100px;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.158);
}

.input-container {
  margin: 1.8rem 0;
}

.input-primary {
  border: 1px solid $colorLight;
  border-radius: 5px;
  max-width: 320px;
  width: 100%;
  padding: 0.8rem 2rem;
  display: block;
  background-color: transparent;
}

.input-error {
  margin-top: 1rem;
  color: rgb(215, 21, 21);
}

.input-max {
  width: 100%;
  max-width: 100%;
}

.color-input {
  max-width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $colorLight;
  border-radius: 5px;

  input {
    border: none;
    margin: 0;
    border-left: 1px solid $colorLight;
    border-radius: 0;
  }
}

.color-container {
  margin: (38px - 12px) / 2 1.4rem;
  width: 12px;
  height: 12px;

  .color {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
  }
}

// Forms

form {
  max-width: 800px;
  display: block;
  margin: 4rem auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}

.form-content {
  margin: 3.6rem 0 4.8rem;
}

.heading-optional::after {
  content: "(Optional)";
  font-size: 0.8rem;
  position: relative;
  left: 10px;
  font-weight: 100;
  color: rgb(234, 63, 63);
}

.vertices-data {
  margin: 4rem 0 6rem;
}

// Not Found

.not-found {
  margin: 8rem auto;
  text-align: center;

  h1 {
    margin-bottom: 2.8rem;
  }

  a {
    font-size: 1.4rem;
  }
}
