html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: 4rem auto;
  max-width: 1080px;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

h1 {
  color: #252525;
  font-size: 3.2rem;
}

h2 {
  color: #252525;
  font-size: 2.4rem;
}

h3 {
  color: black;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  color: #707070;
  font-size: 1.2rem;
}

.text-lighter {
  color: #707070;
}

a {
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.link-primary {
  color: dodgerblue;
}

button,
.btn {
  background-color: #252525;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem 1.2rem;
}

.btn-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
}

.btn-primary {
  padding: 1.8rem 2.2rem;
}

.btn-dark {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 0.8rem 2rem;
}

.btn-clickable {
  background-color: transparent;
  color: #707070;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0;
  text-align: left;
}

.btn-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  color: black;
  padding: 1rem;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-bottom: 1px solid #c1c1c1;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 2.4rem;
  font-size: 1.2rem;
}

.create-new-plot {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.create-new-plot .grid-plot {
  margin-top: 6rem;
}
.create-new-plot .chart-type {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.create-new-plot .chart-logo {
  border-radius: 12px;
  border: 1px solid #c1c1c1;
  padding: 4rem;
}

.footer-text {
  bottom: 4rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.grid {
  display: grid;
}

.grid-1x4 {
  gap: 6rem;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}

.plots-container {
  max-width: 900px;
}

.plots-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.plots {
  min-height: 300px;
  margin-top: 4rem;
  border-radius: 12px;
}

.plots-table {
  border-collapse: collapse;
  color: #707070;
  font-size: 1.4rem;
  width: 100%;
}

td {
  border-bottom: 1px solid #c1c1c1;
  min-width: 60px;
  padding: 1.8rem 1rem;
}

.cell-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.plots-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  margin-top: 8rem;
}

.plot-container {
  display: grid;
  grid-template: 1fr/1fr 320px;
  position: relative;
}

.return {
  left: 2rem;
  position: absolute;
  top: 2rem;
  z-index: 1;
}

aside {
  border-left: 1px solid #c1c1c1;
  padding: 1rem 1.4rem;
  width: 100%;
}

.aside-heading {
  margin-bottom: 1.8rem;
  margin-top: 2rem;
}

.plot-setting {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.8rem 0;
}

.icon-text-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
}

.color {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
}

input {
  border: none;
  outline: none;
}

.input-chart {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border: none;
  max-width: 100px;
  padding: 0.3rem 1.2rem;
}

.input-container {
  margin: 1.8rem 0;
}

.input-primary {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  display: block;
  max-width: 320px;
  padding: 0.8rem 2rem;
  width: 100%;
}

.input-error {
  color: rgb(215, 21, 21);
  margin-top: 1rem;
}

.input-max {
  max-width: 100%;
  width: 100%;
}

.color-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  max-width: 320px;
}
.color-input input {
  border-left: 1px solid #c1c1c1;
  border-radius: 0;
  border: none;
  margin: 0;
}

.color-container {
  height: 12px;
  margin: 13px 1.4rem;
  width: 12px;
}
.color-container .color {
  background-color: black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

form {
  display: block;
  margin: 4rem auto;
  max-width: 800px;
}

.form-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start center;
  gap: 1.4rem;
}

.form-content {
  margin: 3.6rem 0 4.8rem;
}

.heading-optional::after {
  content: "(Optional)";
  color: rgb(234, 63, 63);
  font-size: 0.8rem;
  font-weight: 100;
  left: 10px;
  position: relative;
}

.vertices-data {
  margin: 4rem 0 6rem;
}

.not-found {
  margin: 8rem auto;
  text-align: center;
}
.not-found h1 {
  margin-bottom: 2.8rem;
}
.not-found a {
  font-size: 1.4rem;
}

/*# sourceMappingURL=styles.css.map */
